.sys-init {
  display: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    display: none;
    width: 100%;
    position: fixed;
  }
}

.sys-click-init {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    position: relative;
    width: 70%;
    z-index: -10;
  }
  h1 {
    position: absolute;
    top: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  button {
    position: absolute;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
