.sys-bg {
  width: 100vw;
  height: 200vh;
  position: relative;
  overflow: hidden;

  .sys-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transform-origin: center center;
    transition: none;
    will-change: transform, position;
  }

  .sys-bg-img-fixed {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0; // invisible tant que pas activée
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &.fixed .sys-bg-img {
    opacity: 0; // on cache l’image normale
  }

  &.fixed .sys-bg-img-fixed {
    opacity: 1; // on révèle la version fixe
  }
}
