.sys-vid {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .sys-supp-vid {
    position: absolute;
    transform: scale(0.9);
    width: 100%;
  }
}
