.sys-supp-vid {
  position: absolute;
  transform: scale(0.9);
  width: 100%;

  &-hidden {
    display: none;
  }
}

.sys-supp-err {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.3);
  opacity: 0;

  .sys-supp-err-img {
    opacity: 1;
    background-image: url("../img/sys-error.png");
    background-size: contain;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-direction: column;
  }
  h1 {
    width: 40%;
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}

.sys-supp-yves {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  .sys-supp-yves-img {
    opacity: 1;
    background-image: url("../img/system.png");
    background-size: contain;
    width: 70vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-direction: column;
  }
  h1 {
    width: 50%;
    color: #000000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}

.sys-supp-deso {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  .sys-supp-deso-img {
    opacity: 1;
    background-image: url("../img/system.png");
    background-size: contain;
    width: 70vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-direction: column;
  }
  h1 {
    width: 50%;
    color: #000000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}
