.sys-init-vid-container {
  position: absolute;
  transform: translateY(-2000px);
  height: 200vh;
  width: 100%;
  z-index: 10;
  display: none;
  pointer-events: none;
  .sys-init-vid {
    display: block;
    width: 92%;
    position: absolute;
    z-index: -10;
    margin-left: 45px;
  }
}

.sys-click-init {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .sys-click-init-img {
    opacity: 0;
    transform: scale(0.8);
    background-image: url("../img/system.png");
    background-size: contain;
    width: 70vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-direction: column;
  }

  h1 {
    width: 40%;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  button {
    background: none;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 3px solid #000;
    top: 350;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  button:hover {
    border: solid 3px rgb(0, 119, 255);
    color: rgb(0, 119, 255);
  }
}
