.sys-init {
  display: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    display: none;
    width: 100%;
    position: fixed;
  }
}

.sys-click-init {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 200vh;
  border: solid 2px wheat;
  .sys-click-init-img {
    background-image: url("../img/system.png");
    background-size: contain;
    width: 70vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-direction: column;
  }

  h1 {
    width: 40%;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  button {
    background: none;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 3px solid #000;
    top: 350;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
